<html>
{{> partials/head.hbs }}
<body class="mahogany no-banner has-page-title landmarks">
{{> partials/header.hbs }}

<main>
    <div class="content-top">
        <div class="section breadcrumbs">
            <div class="row">
                <div class="layout">
                    <ul itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a
                                href="/" itemprop="item"><span itemprop="name">Home</span></a>
                            <meta content="1" itemprop="position"/>
                        </li>
                        <li class="current" itemprop="itemListElement" itemscope="itemscope"
                            itemtype="http://schema.org/ListItem"><span itemprop="item name">Edit Site - Home</span>
                            <meta content="2" itemprop="position"/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section page-title bg-none">
            <div class="row">
                <div class="layout"><h1>Edit Site</h1></div>
            </div>
        </div>
    </div>
    <div id="main-content">
        <div class="collapsed bg-none section" id="content">
            <div class="row">
                <div class="layout">
                    <div class="text"><h3>Make your mark on IUSG. Edit this site.</h3>
                        <p>
                            Use the sidebar to manage sections of the site that you have access to. If there's a part of
                            the site
                            that you should have access to, but don't, please send the CTO an email.
                        </p>
                    </div><!-- /.layout --></div>
            </div>
        </div>


        <div class="section-nav show-for-large" id="section-nav">
            <div class="row">
                <nav itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement" aria-label="Section"
                     data-parent-url="/student-rights/index">
                    <ul>
                        {{#if judicial}}
                            <li class=""><a
                                    href="/edit/judicial"
                                    itemprop="url" class=""><span itemprop="name">Supreme Court</span></a></li>
                        {{/if}}
                        {{#if executive}}
                            <li class=""><a
                                    href="/edit/executive"
                                    itemprop="url" class=""><span itemprop="name">Executive Branch</span></a></li>
                        {{/if}}
                        {{#if legislative}}
                            <li class=""><a
                                    href="/edit/congress"
                                    itemprop="url" class=""><span itemprop="name">Congress</span></a></li>
                        {{/if}}
                        {{#if election-commission}}
                            <li class=""><a
                                    href="/edit/electioncommission"
                                    itemprop="url" class=""><span itemprop="name">Election Commission</span></a></li>
                        {{/if}}
                        {{#if administrator}}
                            <li class=""><a
                                    href="/edit/administrative"
                                    itemprop="url" class=""><span itemprop="name">Administration</span></a></li>
                        {{/if}}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>
{{> partials/footer.hbs }}
</body>

</html>