<html>
{{> partials/head.hbs }}
<body class="mahogany no-banner has-page-title landmarks">
{{> partials/header.hbs }}

<main>
    <div class="content-top">
        <div class="section breadcrumbs">
            <div class="row">
                <div class="layout">
                    <ul itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a
                                href="/" itemprop="item"><span itemprop="name">Home</span></a>
                            <meta content="1" itemprop="position"/>
                        </li>
                        <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a
                                href="/student-rights" itemprop="item"><span itemprop="name">Student Rights</span></a>
                            <meta content="2" itemprop="position"/>
                        </li>
                        <li class="current" itemprop="itemListElement" itemscope="itemscope"
                            itemtype="http://schema.org/ListItem"><span itemprop="item name">Request Help</span>
                            <meta content="3" itemprop="position"/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section page-title bg-none">
            <div class="row">
                <div class="layout"><h1>Request Help</h1></div>
            </div>
        </div>
    </div>
    <div id="main-content">
        <div class="collapsed bg-none section" id="content">
            <div class="row">
                <div class="layout">
                    <div class="text"><h3>We Are Here to Help Any Student in Need</h3>
                        <p>Visit our office, contact us via email, or click <a href="/contact">here</a>/</p>

                        <p>Department of Student Rights<br/>Indiana Memorial Union room 387 (Student Activities
                            Tower)<br/><a class="undefined" href="mailto:iusasr@indiana.edu" rel="nofollow">iusasr@indiana.edu</a><span
                                    style="background-color: #ffff00;"></span></p></div>
                </div><!-- /.layout --></div>
        </div>
    </div>


    <div class="section-nav show-for-large" id="section-nav">
        <div class="row">
            <nav itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement" aria-label="Section"
                 data-parent-url="/student-rights/index">
                <ul>
                    <li class=""><a
                            href="/student-rights/members-profiles"
                            itemprop="url" class=""><span itemprop="name">Members</span></a></li>
                    <li class="current-trail current-parent"><a
                            href="/student-rights/request-help"
                            itemprop="url" class="current-trail current"><span itemprop="name">Request Help</span></a>
                    </li>
                    <li class=""><a href="/student-rights/apply-sr"
                                    itemprop="url" class=""><span itemprop="name">Apply to Student Rights</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</main>

{{> partials/footer.hbs }}
</body>

</html>