<div aria-label="Inspire resources and social media channels" class="section bg-mahogany dark belt"
     role="complementary">
    <div class="row pad">
        <h2 class="visually-hidden">Inspire resources and social media channels</h2>
        <div class="belt-nav one-half">
            <ul>
                <li><a href="https://iusa.indiana.edu/index.html"></a></li>
            </ul>
        </div>
        <div class="one-half invert border">
            <ul class="social">

                <li><a aria-label="Twitter" class="icon-twitter" href="https://www.twitter.com/iustudentgov">Twitter</a>
                </li>

                <li><a aria-label="Facebook" class="icon-facebook" href="https://www.facebook.com/iustudentgovernment">Facebook</a>
                </li>

                <li><a aria-label="Instagram" class="icon-instagram" href="https://www.instagram.com/iustudentgov">Instagram</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<footer id="footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
    <div class="row pad">
        <p class="signature">
            <a href="https://www.iu.edu" class="signature-link signature-img external"><img src="//assets.iu.edu/brand/3.2.x/iu-sig-formal.svg" alt="Indiana University"></a>
        </p>

        <p class="copyright">
            <span class="line-break"><a href="https://accessibility.iu.edu/assistance" id="accessibility-link" title="Having trouble accessing this web page content? Please visit this page for assistance." class="external">Accessibility</a> | <a href="/privacy" id="privacy-policy-link">Privacy Notice</a></span>
            <span class="hide-on-mobile"> | </span>
            <a href="https://www.iu.edu/copyright/index.html" class="external">Copyright</a> © 2020 <span class="line-break-small">The Trustees of <a href="https://www.iu.edu/" itemprop="url" class="external"><span itemprop="name">Indiana University</span></a></span>
        </p>
    </div>
</footer>

<!-- Include Javascript -->
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="/static/js/site.js"></script>
<script src="https://assets.iu.edu/search/3.2.x/search.js"></script>
<script src="https://assets.uits.iu.edu/javascript/rivet/1.7.2/rivet.min.js"></script>
<script src="https://assets.iu.edu/web/3.2.x/js/iu-framework.min.js"></script>
<script type="text/javascript" src="/static/js/frontend.js"></script>
