<header id="header">


    <div id="skipnav">
        <ul>
            <li><a href="#content">Skip to Content</a></li>
            <li><a href="#nav-main">Skip to Main Navigation</a></li>
        </ul>
        <hr>
    </div>


    <div id="branding-bar" class="iub" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
        <div class="row pad">
            <img src="//assets.iu.edu/brand/3.2.x/trident-large.png" alt="">
            <p id="iu-campus">
                <a href="https://www.indiana.edu" title="Indiana University Bloomington" class="external">
                    <span id="campus-name" class="show-on-desktop" itemprop="name">Indiana University Bloomington</span>
                    <span class="show-on-tablet" itemprop="name">Indiana University Bloomington</span>
                    <span class="show-on-mobile" itemprop="name">IU Bloomington</span>
                </a>
            </p>
        </div>
    </div>


    <div id="toggles">
    </div>

    <div id="search" class="search-box" role="search" aria-hidden="true"></div>


    <div id="offCanvas" class="hide-for-large" role="navigation" aria-label="Mobile">
        <button class="menu-toggle button hide-for-large" data-toggle="iu-menu">Menu</button>
        <div id="iu-menu" class="off-canvas position-right off-canvas-items" data-off-canvas="" data-position="right">
            <div class="mobile off-canvas-list" itemscope="itemscope"
                 itemtype="http://schema.org/SiteNavigationElement">
                {{> partials/navbar.hbs desktop=false}}
            </div>
        </div>
    </div>

    <div class="site-header" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
        <div class="row pad">
            <h1><a class="title" href="/" itemprop="department">IU Student Government</a></h1>
        </div>
    </div>

    <nav aria-label="Main" id="nav-main" role="navigation" itemscope="itemscope"
         itemtype="http://schema.org/SiteNavigationElement" class="main show-for-large dropdown">
        {{> partials/navbar.hbs desktop=true}}

    </nav>
</header>