<ul {{#if desktop}}class="row pad"{{/if}}>
    <!-- about -->
    <li class="first home has-children" aria-haspopup="true">
        <a href="/about" {{#ifeq pageId "about"}}class="current" {{/ifeq}} aria-label="About">About</a>

        <ul class="children">
            <li>
                <a href="/about" itemprop="url">
                    <span itemprop="name">Guiding Documents</span>
                </a>
            </li>
            <li>
                <a href="/about/history" itemprop="url">
                    <span itemprop="name">History</span>
                </a>
            </li>
            <li>
                <a href="/about/recent-updates" itemprop="url">
                    <span itemprop="name">Accomplishments and Updates</span>
                </a>
            </li>
            <li>
                <a href="/about/budget" itemprop="url">
                    <span itemprop="name">Budget</span>
                </a>
            </li>
        </ul>
    </li>

    <!-- statements -->
    <li class="has-children">
        <a href="/statements" {{#ifeq pageId "statements"}}class="current" {{/ifeq}}
           aria-label="Statements">Statements</a>

        <ul class="children">
            <li>
                <a href="/statements/exec" itemprop="url">
                    <span itemprop="name">Executive Branch</span>
                </a>
            </li>

            <li>
                <a href="/statements/congress" itemprop="url">
                    <span itemprop="name">Congress</span>
                </a>
            </li>

            <li>
                <a href="/statements/supremecourt" itemprop="url">
                    <span itemprop="name">Supreme Court</span>
                </a>
            </li>
        </ul>
    </li>


    <!-- exec -->

    <li class="has-children">
        <a href="/executive-branch" {{#ifeq pageId "execbranch"}}class="current" {{/ifeq}}
           aria-label="Executive Branch">Executive Branch</a>

        <ul class="children">
            <li>
                <a href="/executive-branch/members" itemprop="url">
                    <span itemprop="name">Executives, Cabinet, and Members</span>
                </a>
            </li>
            <li>
                <a href="/executive-branch/committees" itemprop="url">
                    <span itemprop="name">University Committees</span>
                </a>
            </li>
            <li>
                <a href="/executive-branch/fip" itemprop="url">
                    <span itemprop="name">Freshman Internship Program</span>
                </a>
            </li>
            <li>
                <a href="/executive-branch/apply-FIP" itemprop="url">
                    <span itemprop="name">Apply to the Freshman Internship Program</span>
                </a>
            </li>
            <li>
                <a href="/executive-branch/apply-exec" itemprop="url">
                    <span itemprop="name">IUSG Executive Branch Application</span>
                </a>
            </li>
        </ul>
    </li>

    <!-- congress -->

    <li class="has-children">
        <a href="/congress" {{#ifeq pageId "congress"}}class="current" {{/ifeq}}
           aria-label="Student Body Congress">Student Body Congress</a>

        <ul class="children">
            <li>
                <a href="/congress/meeting-minutes" itemprop="url">
                    <span itemprop="name">Meeting Minutes</span>
                </a>
            </li>
            <li>
                <a href="/congress/apply-congress" itemprop="url">
                    <span itemprop="name">Join Congress!</span>
                </a>
            </li>
            <li>
                <a href="/congress/resolutions" itemprop="url">
                    <span itemprop="name">Congressional Resolutions</span>
                </a>
            </li>
            <li>
                <a href="/congress/members" itemprop="url">
                    <span itemprop="name">Representatives</span>
                </a>
            </li>
        </ul>
    </li>

    <!-- supreme court -->

    <li class="has-children">
        <a href="/supreme-court" {{#ifeq pageId "supremecourt"}}class="current" {{/ifeq}}
           aria-label="Supreme Court">Supreme Court</a>

        <ul class="children">
            <li>
                <a href="/supreme-court/decisions" itemprop="url">
                    <span itemprop="name">Decisions</span>
                </a>
            </li>
            <li>
                <a href="/supreme-court/apply-court" itemprop="url">
                    <span itemprop="name">Apply to Supreme Court</span>
                </a>
            </li>
            <li>
                <a href="/supreme-court/justices" itemprop="url">
                    <span itemprop="name">Justices</span>
                </a>
            </li>
        </ul>
    </li>

    <!-- election commission -->

    <li class="has-children">
        <a href="/election-commission" {{#ifeq pageId "electioncommission"}}class="current" {{/ifeq}}
           aria-label="Election Commission">Election Commission</a>

        <ul class="children">
            <li>
                <a href="/election-commission/meeting-minutes" itemprop="url">
                    <span itemprop="name">Meet the Candidates</span>
                </a>
            </li>
            <li>
                <a href="/election-commission/candidate-info" itemprop="url">
                    <span itemprop="name">Members</span>
                </a>
            </li>
            <li>
                <a href="/election-commission/events" itemprop="url">
                    <span itemprop="name">Candidate Information</span>
                </a>
            </li>
            <li>
                <a href="/election-commission/apply-ec" itemprop="url">
                    <span itemprop="name">Events</span>
                </a>
            </li>
            <li>
                <a href="/election-commission/members" itemprop="url">
                    <span itemprop="name">Apply To IUSG Election Commission</span>
                </a>
            </li>
        </ul>
    </li>

    <!-- student rights -->

    <li class="has-children">
        <a href="/student-rights" {{#ifeq pageId "studentrights"}}class="current" {{/ifeq}}
           aria-label="Student Rights">Student Rights</a>

        <ul class="children">
            <li>
                <a href="/student-rights/members-profiles" itemprop="url">
                    <span itemprop="name">Members</span>
                </a>
            </li>
            <li>
                <a href="/student-rights/request-help" itemprop="url">
                    <span itemprop="name">Request Help</span>
                </a>
            </li>
            <li>
                <a href="/student-rights/apply-sr" itemprop="url">
                    <span itemprop="name">Apply to Student Rights</span>
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="/contact" itemprop="url" tabindex="1">
            <span itemprop="name">Contact Us</span>
        </a>
    </li>

    <li>
        {{#if loggedIn}}
            <a href="/edit" itemprop="url" tabindex="1" title="Go to Edit Site">
                <span itemprop="name">Edit Site</span>
            </a>
        {{else}}
            <a href="/login" itemprop="url" tabindex="1" title="Log in">
                <span itemprop="name">Log In</span>
            </a>
        {{/if}}
    </li>

</ul>

