<html>
{{> partials/head.hbs }}
<body class="mahogany no-banner has-page-title landmarks">
{{> partials/header.hbs }}

<div id="main-content">
    <div class="row" style="margin-top: 30px;">
        <h2>New Statement</h2>
    </div>

    <div class="collapsed bg-none">
        <div class="row">
            <article class="profile feed-item" itemscope="itemscope" itemtype="http://schema.org/Person">
                <form action="/create-new-statement" method="get">
                    <div class="content">
                        Title: <input id="title" name="title" style="width: 30%" type="text">
                        <hr />
                        Branch:
                        <select id="branch" name="branch" style="width: 65%">
                            <option value="EXECUTIVE" {{#if isExecutive}}selected{{/if}}>Executive</option>
                            <option value="LEGISLATIVE" {{#if isCongress}}selected{{/if}}>Congress</option>
                            <option value="JUDICIAL" {{#if isJudicial}}selected{{/if}}>Supreme Court</option>
                        </select>
                        <hr />
                        Text: <textarea id="text" name="text" rows="15" style="width: 65%"></textarea>
                    </div>

                    <input type="submit" class="button" value="Submit"/>
                </form>
            </article>
        </div>
    </div>

</div>

{{> partials/footer.hbs }}
</body>

</html>
