<div class="section-nav show-for-large" id="section-nav">
    <div class="row">
        <nav itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement" aria-label="Section"
             data-parent-url="/about">
            <ul>
                <li class=""><a href="/about"
                                itemprop="url" class=""><span itemprop="name">Guiding Documents</span></a></li>
                <li class=""><a href="/statements"
                                itemprop="url" class=""><span itemprop="name">IUSG Statements and Reports</span></a>
                </li>
                <li class=""><a href="/about/history" itemprop="url"
                                class=""><span itemprop="name">History</span></a></li>
                <li class=""><a href="/about/recent-updates"
                                itemprop="url" class=""><span itemprop="name">Accomplishments and Updates</span></a>
                </li>
                <li class=""><a href="/about/budget" itemprop="url"
                                class=""><span itemprop="name">Budget</span></a></li>
            </ul>
        </nav>
    </div>
</div>
