<html>
{{> partials/head.hbs }}
<body class="mahogany no-banner has-page-title landmarks">
{{> partials/header.hbs }}

<main>
    <div class="content-top">
        <div class="section breadcrumbs">
            <div class="row">
                <div class="layout">
                    <ul itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a
                                href="/" itemprop="item"><span itemprop="name">Home</span></a>
                            <meta content="1" itemprop="position"/>
                        </li>
                        <li class="current" itemprop="itemListElement" itemscope="itemscope"
                            itemtype="http://schema.org/ListItem"><span itemprop="name">About</span>
                            <meta content="2" itemprop="position"/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section page-title bg-none">
            <div class="row">
                <div class="layout"><h1>About</h1></div>
            </div>
        </div>
    </div>

    <div id="main-content">
        <div class="collapsed bg-none section" id="content">
            <div class="row">
                <div class="layout">
                    <div class="text"><h2>IUSG Puts Your Mandatory Student Fee to Good Use</h2>
                        <p><span>IUSG is funded by the&#160;</span><a
                                href="https://studentcentral.indiana.edu/pay-for-college/cost-of-iu/mandatory-fees.html">Mandatory
                            Student Activity Fee,&#160;</a><span>which is reviewed by the Committee for Fee Review every other year. The budget breakdown represents our planning for IUSG's spending activity.</span>
                        </p>
                        <p>The IUSG budget for FY21 will be updated here once it is approved by the IUSG Student Body
                            Congress!</p></div>
                </div><!-- /.layout --></div>
        </div>
    </div>

    {{> "about/about-navbar.hbs" }}


</main>
{{> partials/footer.hbs }}
</body>

</html>