<html>
{{> partials/head.hbs }}
<body class="mahogany no-banner has-page-title landmarks">
{{> partials/header.hbs }}

<div id="main-content">
    <div class="collapsed bg-none section" id="content">
        <div class="row">
            <div class="layout">
                <div class="text"><h3>Contact Us! </h3>
                    <script async="" src="//iustudentgovernment.indiana.edu/machform/js/mf.js"></script>
                    <iframe id="mf_iframe" title="Contact"
                            src="//iustudentgovernment.indiana.edu/machform/embed.php?id=11154" height="582"
                            allowtransparency="true" frameborder="0" scrolling="no"
                            style="width:100%;border:none;height:582px !important" data-first_loaded="true"><a
                            href="//iustudentgovernment.indiana.edu/machform/embed.php?id=11154">View Form</a></iframe>
                    <script>//
                    (function (f, o, r, m) {
                        r = f.createElement('script');
                        r.async = 1;
                        r.src = o + 'js/mf.js';
                        m = f.getElementById('mf_placeholder');
                        m.parentNode.insertBefore(r, m);
                    })(document, '//iustudentgovernment.indiana.edu/machform/');
                    // </script>
                </div>
            </div><!-- /.layout --></div>
    </div>
</div>

{{> partials/footer.hbs }}
</body>

</html>