<html>
{{> partials/head.hbs }}
<body class="mahogany no-banner has-page-title landmarks">
{{> partials/header.hbs }}

<div class="section banner image loaded" id="banner" style="background-image: none;">
    <div class="img--large">
        <div class="bg-image-cover" style="background-image: url('/static/images/DSC_1125.jpg');"></div>
    </div>
</div>

<main class="wide no-section-nav">
    <div id="main-content">
        <!-- TODO add ticker -->

        <div class="collapsed bg-none section">
            <div class="row">
                <div class="layout">
                    <div class="text"><h2>Your Student Government. </h2>
                        <p>The Indiana University Student Government (IUSG) is the
                            student body government at Indiana University Bloomington. We believe in the power and
                            importance of the student voice to advocate on your behalf for positive change at
                            Indiana University.</p>
                        <p>We work with faculty, staff, and administrators to make IU the best it can be—and we can’t do
                            it without your help. Joinone of our branches by getting involved in
                            an<a href="/executive-branch">executive policy committee</a>, have a voice
                            in <a href="/congress">congress</a>, become a <a href="supreme-court">Supreme
                                Court Justice</a>, <a href="/election-commission">officiate executive and
                                legislative elections</a>, or work with <a href="/student-rights">student
                                rights</a>.</p>
                        <p>&nbsp;</p>
                    </div>
                </div><!-- /.layout --></div>
        </div>
    </div>
</main>

{{> partials/footer.hbs }}
</body>

</html>