<html>
{{> partials/head.hbs }}
<body class="mahogany no-banner has-page-title landmarks">
{{> partials/header.hbs }}

<main class="no-section-nav">
    <div class="content-top">
        <div class="section breadcrumbs">
            <div class="row">
                <div class="layout">
                    <ul itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a
                                href="../index.html" itemprop="item"><span itemprop="name">Home</span></a>
                            <meta content="1" itemprop="position">
                        </li>
                        <li class="current" itemprop="itemListElement" itemscope="itemscope"
                            itemtype="http://schema.org/ListItem"><span itemprop="item name">Privacy Notice</span>
                            <meta content="2" itemprop="position">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section page-title bg-none">
            <div class="row">
                <div class="layout"><h1>Privacy Notice</h1></div>
            </div>
        </div>
    </div>
    <div id="main-content">
        <div class="collapsed bg-none section" id="content">
            <div class="row">
                <div class="layout">
                    <div class="text">
                        Generate your privacy notice using the <a
                            href="https://protect.iu.edu/online-safety/tools/privacy-notice/" target="_blank"
                            class="external">Website Privacy Notice Generator</a>&nbsp;provided by the university.
                    </div>
                </div><!-- /.layout --></div>
        </div>
    </div>
</main>
{{> partials/footer.hbs }}
</body>

</html>